﻿@model GBSYS001.Models.SEG_USUARIO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SEG_USUARIO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRIMER_APELLIDO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRIMER_APELLIDO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEGUNDO_APELLIDO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEDULA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTRASENA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CORREO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_USUARIO">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
