﻿@model GBSYS001.Models.SEG_USUARIO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SEG_USUARIO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_USUARIO" />
            <div class="form-group">
                <label asp-for="NOMBRE" class="control-label"></label>
                <input asp-for="NOMBRE" class="form-control" />
                <span asp-validation-for="NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRIMER_APELLIDO" class="control-label"></label>
                <input asp-for="PRIMER_APELLIDO" class="form-control" />
                <span asp-validation-for="PRIMER_APELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEGUNDO_APELLIDO" class="control-label"></label>
                <input asp-for="SEGUNDO_APELLIDO" class="form-control" />
                <span asp-validation-for="SEGUNDO_APELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEDULA" class="control-label"></label>
                <input asp-for="CEDULA" class="form-control" />
                <span asp-validation-for="CEDULA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CONTRASENA" class="control-label"></label>
                <input asp-for="CONTRASENA" class="form-control" />
                <span asp-validation-for="CONTRASENA" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ESTADO" /> @Html.DisplayNameFor(model => model.ESTADO)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CORREO" class="control-label"></label>
                <input asp-for="CORREO" class="form-control" />
                <span asp-validation-for="CORREO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
