﻿@model IEnumerable<GBSYS001.Models.SEG_USUARIO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRIMER_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEDULA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRASENA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CORREO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRIMER_APELLIDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEGUNDO_APELLIDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEDULA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRASENA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CORREO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_USUARIO">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_USUARIO">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_USUARIO">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
