@page
@using GBSYS002.Models

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<GBSYS002.Models.EF.SegUsuario>()
    .DataSource(ds => ds.Mvc()
        .Controller("SegUsuarios")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("IdUsuario")
    )
    .RemoteOperations(true)
    .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
    .GroupPanel(gp => gp.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .Columns(columns => {

        columns.AddFor(m => m.Nombre);

        columns.AddFor(m => m.PrimerApellido);

        columns.AddFor(m => m.SegundoApellido);

        columns.AddFor(m => m.Estado);

        columns.AddFor(m => m.Contrasena);

        columns.AddFor(m => m.Cedula);

        columns.AddFor(m => m.Correo);
    })
    .Paging(paging => paging.PageSize(10))
    .Pager(pager => {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 5, 10, 20 });
        pager.ShowInfo(true);
        ;    }

    )
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)